<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<table style="width: 100%;">
  <tr>
    <td><h2>Captain Arthur's Starship Log</h2></td>
    <td style="text-align: right;">
      Earthdate: <%= dateFormat(note_rows[0].created_at) %><br>
      Starlog ID#: <%= note_rows[0].note_id %>
    </td>
  </tr>
</table>

<div class="table-responsive">
	<table style="width: 100%;">
		<tr>
			<td style="width:20%" class="table-title">
				Area of Investigation:
			</td>
			<td colspan="2">
				<span class="note-data"><%= note_rows[0].title %></span>
				<input name="note_title" type="text" class="form-control" placeholder="<note title>"
					id="note_title" value="<%= note_rows[0].title %>"></input>
			</td>
		</tr>
		<tr>
			<td class="table-title">Keywords:</td>
			<td colspan="2">
			<p class="note-data"><% keyword_rows.forEach(function(r) { %>
			  <%= r.keyword %> -
			<% }); %></p>
			</td>
		</tr>
		<tr>
			<td class="table-title">Summary:</td>
			<td colspan="2">
				<p class="note-data" id="note_summary_2"><%=note_rows[0].summary %></p>
				<textarea name="note_summary" type="text" class="form-control" placeholder="<brief summary>"
					id="note_summary" value=""><%=note_rows[0].summary %></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td>
			<span id="edit_hint">
				Enter notes in 
				<a href="https://www.cheatography.com/simon-fermor/cheat-sheets/markdown/">markdown</a> format:
			</span>
			</td>
		</tr>
		<tr>
			<td class="table-title">Detail Notes:</td>
			<td  width="50%">
				<div id="note" style="padding: 6px 12px;">
					<%- note_rows[0].note %>
				</div>
			</td>
			<td>
				<!-- Note edit box - shown for editing and contains markdown -->
				<textarea class="form-control" id="edit_area" note_id="<%= note_rows[0].note_id %>" 
					oninput="this.editor.update()" rows="20" cols="60"><%- note_rows[0].note %></textarea>
			</td>
		</tr>
			<td class="table-title">References</td>
			<td colspan="2">
			<% url_rows.forEach(function(u) { %>
			<p class="note-data" id="references">
			  <a href="<%= u.url %>" ><%= u.title %></a>. <%= u.website_name %>. Accessed <%= u.accessed_at %>
			 </p>
			<% }); %>
			</td>
		<tr>
		</tr>
	</table>
</div>

</div>

<script>
	// jQuery not yet loaded, so use plain JavaScript
	new Editor(document.getElementById("edit_area"), document.getElementById("note"));
	// Hide edit fields and navbar links
	$('#edit_hint').toggle();
	$('#edit_icon').toggle();
	$('#new_icon').toggle();
	$('.form-control').toggle();
	$('#references').innerHTML = markdown.toHTML($('#references#').innerHTML());
	$('#note_summary_2').innerHTML = markdown.toHTML($('#note_summary_2').innerHTML());
</script>

</body>

</html>
